*{
    padding: 0;
    margin: 0;
}
.navbar{
    height:75px;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 25, 169);
    align-items: center;
    padding: 0px 20px 0px 20px;
}
.right{
    display: flex;
    justify-content: space-between;
    width:30%;
    padding: 20px;
}
.nav-link {
    color:black;
    text-decoration: none;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 8px solid black; */
    height: 80vh;
    width:100%;
    
}
.Phone{
    height: 280px;
    width: 250px;
    box-shadow: 0px 0px 15px rgb(21, 1, 1);
    border-radius: 6px;
    box-shadow:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Phone img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.Cart-card{
    height: 280px;
    width: 250px;
    /* border: 2px solid rgb(0, 0, 0); */
    box-shadow: 0px 0px 15px rgb(21, 1, 1);
    border-radius: 6px;
    box-shadow:20px;
    display: flex;
    flex-direction: column;.
    align-items: flex-start;
    padding: 10px 0 0 20px;
}
.Quantity {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: gray;
    color: white;
    cursor: pointer;
    align-self: center;
}
.btn:hover {
    background: black;
}

.counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 10px;
}
.counter button{
    height: 20px;
    width: 20px;
    border-radius: 30%;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}
.counter button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.navbar-phone{
    height:75px;
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding: 0px 20px 0px 20px;
    color:white;
}
.right-phone{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart-value{
    position: absolute;
    top:8px; right:124px;
    color: white;
    background-color: black;
    font-size: larger;
    padding: 5px;
    border-radius: 50%;
}